@import url("https://fonts.googleapis.com/css?family=Catamaran:300,500,700");

body {
	background: #333533;
	overflow: hidden;
	font-family: "Catamaran", sans-serif;

	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}

	.hide {
		display: none;
	}

	.starting-page {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;

		#logo {
			width: 200px;
			margin-bottom: 20px;
		}

		h3 {
			font-size: 1.5rem;
			color: #fff;
			font-weight: 300;
			margin-bottom: 60px;
			text-align: center;
			padding: 0 20px;
		}

		#loading-animation {
			span {
				width: 15px;
				height: 15px;
				display: inline-block;
				content: "";
				background-color: #e8eddf;
				border-radius: 100%;
				animation: bounce 1.5s;
				animation-iteration-count: infinite;

				&:not(:last-child) {
					margin-right: 5px;
				}

				&:first-child {
					animation-delay: 0.17s;
				}
				&:nth-child(2) {
					animation-delay: 0.33s;
				}
				&:nth-child(3) {
					animation-delay: 0.49s;
				}
				&:nth-child(4) {
					animation-delay: 0.65s;
				}
				&:nth-child(5) {
					animation-delay: 0.81s;
				}
				&:nth-child(6) {
					animation-delay: 1s;
				}
			} //end span styles
		} //end loading animation
	} //end starting page

	.weather {
		height: 100vh;
		width: 100vw;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.icon {
			margin-right: 10px;
			color: #f5cb5c;
		}

		#weather-logo {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 200px;
			margin: 20px;
		}

		.switch-units {
			color: #636e72;
			letter-spacing: 2px;
			font-size: 14px;
		}

		.toggle {
			width: auto;
			height: auto;
			background-color: white;
			display: flex;
			flex-direction: row;
			justify-content: center;
			border-radius: 5px;

			.checked {
				background-color: #f5cb5c;
				box-shadow: inset 0px 0px 6px black;

				& > p {
					color: black;
				}
			}

			#c-toggle {
				flex: 1;
				background-color: #333533;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: 0.3s ease-in;

				p {
					font-size: 2rem;
					font-weight: 300;
					margin-bottom: 0;
					color: white;
					padding: 5px 30px;
				}
			} //end c-toggle

			#f-toggle {
				background-color: #333533;
				flex: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				cursor: pointer;

				p {
					font-size: 2rem;
					font-weight: 300;
					color: white;
					margin-bottom: 0;
					padding: 5px 30px;
					position: relative;
				}
			} //end f-toggle
		} //end toggle class

		#temp {
			font-size: 10rem;
			color: white;
			line-height: 1;
			margin-bottom: 0;
		}

		#city {
			font-size: 2rem;
			padding: 0 2em;
			font-weight: 500;
			margin-bottom: 20px;
			color: #fff;
		}

		#credits {
			position: absolute;
			bottom: 0;
			right: 0;

			p {
				font-size: 1rem;
				margin: 0 20px 10px 0;
				color: #636e72;
				letter-spacing: 2px;
				transition: 0.3s linear;

				&:hover {
					color: #f5cb5c;
				}
			}
		}

		@media (max-width: 425px) {
			#temp {
				font-size: 6rem;
			}
			#city {
				font-size: 1.5rem;
				padding: 0 10px;
			}
			#weather-logo {
				max-width: 125px;
			}
		}
	}

	//BOUNCE ANIMATION
	@keyframes bounce {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-30px);
			background-color: #f5cb5c;
		}
	}
} //end body
